<h1>Datos Personales</h1>
<link rel='stylesheet' href='/stylesheets/mifoto.css' />
<p>
Nombre y Apellidos:			DANIELA MICHELLE GONZALEZ REYES
</p>
<p>
Número de Identidad:			0610-1996-00538
</p>
<p>
Lugar de nacimiento:			Tegucigalpa, Francisco Morazán
</p>
<p>
Fecha de nacimiento:			30 de Septiembre de 1996
</p>
<p>
Nacionalidad:				Hondureña
</p>
<p>
Estado Civil:				Soltera
</p>
<p>
Domicilio: 				Residencial Monte Real, Bloque Q, Casa # 18
                   Comayaguela, MDC, Honduras
</p>
<p>
Tel: 					(504) 2229-0681, (504) 87950409
</p>
<p>
E-mail:					daniela.gonzalez1996@yahoo.com
</p>
<img src = "{{image}}" alt = "Mi Foto"/>
